body {
  background-color: #DDF5FF;
}

.main {
  background-color: #DDF5FF;
}

/* start header */
.header{
  width: 100%;
  background-color: #FFFFFF;
  padding: 20px 20px 10px;
}

.header-link {
  color: #000000;
  text-decoration: none;
}

.header-logo{
  display: inline-flex;
  gap: 20px;
  align-items: flex-end;
}

.CRAFT-text{
  width: 120px;
  font-size: 36px;
}

.header-logo-img{
  height: 20px;
  margin-bottom: 10px;
}
/* end header */

/* start completed */
.entry-completed-hero{
  padding: 80px 20px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: #DDF5FF;
}

.entry-completed-hero img{
  margin: 0 auto;
  margin-bottom: 40px;
  width: 580px;
  height: 434px;
}

.entry-completed-hero-top{
  text-align: right;
  font-weight: bold;
}

.entry-completed-hero-text{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
/* end completed */

/* start entry */
.entry {
padding: 80px 20px;
background-color: #DDF5FF;
}

.entry-inner {
  max-width: 686px;
  width : 100%;
  margin: 0 auto;
}

.entry-header-box {
  padding: 40px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0  rgba(0, 0, 0, 0.2);
}

.entry-header-content {
  margin: 0 auto;
  display: flex;
  border-bottom: solid 1px #2E79BA;
}

.entry-header-content > h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.entry-header-content-right {
  display: flex;
  margin-left: auto;
  gap: 15px;
  align-items: center;
}

.entry-body-box {
  width: 100%;
  background-color: rgb(221, 79, 79);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0  rgba(0, 0, 0, 0.2);
}

.entry-body-box h3 {
  margin-top: 40px;
}

.entry-body-content {
  padding: 0 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0  rgba(0, 0, 0, 0.2);
  margin-top : 50px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.entry-body-contentin {
  height: 95%;
  margin: 0 auto ;
  background-color: rgb(255, 255, 255);
}

.entry-common-title {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.entry-common-title > h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}

.entry-common-form {
  margin-left: 24px;
  padding-left: 8px;
  height: 28px;
  width: 20em;
  font-size: 16px;
  transition: all .6s ease;
  border-bottom:2px solid #cccccc;
  border-right: none;
  border-left:none;
  border-top:none;
  border-radius:0px;
}

.entry-common-form:focus {
  width:22em;
}

.entry-sex-radio {
  margin-left: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.entry-sex-radio input {
  margin-top: -4px;
}

.entry-sex-radio-woman {
  margin-left: 50px;
}

.entry-select {
  margin-left: 24px;
  font-size: 16px;
}

.entry-send {
  display: flex;
  justify-content: end;
}

.entry-caution {
  padding-top: 30px;
  padding-right: 40px;
  font-size: 14px;
}

.entry-send-button {
  position: relative;
  width: max-content;
  padding-left: 20px;
  padding-right: 40px;
  height: 48px;
  border: none;
  border-radius: 14px;
  background-color:#666666;
  color: #ffffff;
  font-weight: bold;
  font-size:20px ;
  box-shadow: 0 5px #B8E6C0;
}

.entry-send-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: 66px;
  width: 16px;
  height: 12px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(-45deg);
}
/* end entry */

/* start hero */
.hero {
  display: flex;
  margin: 0 auto;
  padding: 80px 20px 0 20px;
  max-width: 1040px;
  justify-content: space-between;
  align-items: center;
}

.hero-img-container {
  margin-left: -120px;
  height: 480px;
}

.hero-img-container > img {
  height: 100%;
}

.hero-text-container {
  font-family: 'Zen Maru Gothic';
  font-weight: bold;
}

.hero-text-container > h2 {
  text-align: right;
  font-size: 2.5rem;
  line-height: 1.6;
  margin-bottom: 64px;
}

.hero-text-container > ul {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.25rem;
}

.hero-text-container > ul > li {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hero-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #72CD81;
  border-radius: 2px;
  font-size: 28px;
}

.hero-checkbox > span {
  position: absolute;
  display: block;
  left: 4px;
  bottom: 4px;
}
/* end hero */

.main {
  position: relative;
  padding-top: 80px;
}

/* start sidebar */
.sidebar {
  display: inline-block;
  position: sticky;
  top: 0;
  left: 100%;
  color: #FFFFFF;
  overflow-y: scroll;
  border-radius: 12px 0 0 0;
  z-index: 100;
}

.sidebar-search-header {
  position: relative;
  display: flex;
  gap: 80px;
  padding: 32px 20px 20px;
  background-color: #2E79BA;
  border-radius: 12px 0 0 0;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.sidebar-search-header::after {
  content: "";
  position: absolute;
  bottom: 16px;
  right: 0;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #FFFFFF;
}

.sidebar-search-header > div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sidebar-search-header h2 {
  margin-bottom: -6px;
  font-size: 1.5rem;
}

.sidebar-search-header p {
  font-size: 2rem;
}

.sidebar-search-header span {
  padding-right: 8px;
  font-size: 1.5rem;
}

.sidebar-search-header-icon {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: solid 2px #FFFFFF;
}

.sidebar-search-header-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13.9px 8px 0 8px;
  border-color: #FFFFFF transparent transparent transparent;
  transform: translate(-50%, -40%);
}

.sidebar-search-header-icon-open {
  transition: all 0.2s ease-in;
  transform: rotate(180deg);
}

.sidebar-body {
  display: none;
  padding: 0px 20px 40px;
  background-color: #2E79BA;
  border-radius: 0 0 0 12px;
}

.sidebar-body-open {
  display: block;
  transition: all 0.2s ease-in;
}

.sidebar-body h3 {
  font-size: 1.25rem;
}

.sidebar-body i {
  margin-right: 8px;
  font-size: 1.25rem;
}

.sidebar-body select {
  display: block;
  margin: 16px auto 0;
  max-width: 220px;
  width: 100%;
  height: 32px;
  font-size: 1rem;
  border-radius: 8px;
}

.sidebar-search-content {
  padding-top: 24px;
}

.sidebar-search-content:nth-child(1) {
  padding-top: 0;
}

.sidebar-search-content > label {
  margin-top: 16px;
  margin-left: 50px;
  line-height: 24px;
  font-size: 1rem;
  font-weight: bold;
}

.sidebar-search-clear {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 40px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 4px 8px;
}

.sidebar-keep-header {
  display: flex;
  padding: 20px 0 12px;
  border-bottom: solid 1px #FFFFFF;
  justify-content: space-between;

}

.sidebar-keep-header-title {
  display: flex;
  gap: 2px;
  align-items: center;
}

.sidebar-keep-header h2 {
  margin-top: 8px;
  font-size: 1.5rem;
}

.sidebar-keep-header i {
  font-size: 32px;
}

.sidebar-keep-header-count {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #72CD81;
  text-align: center;
}

.sidebar-keep-header-count > span {
  line-height: 40px;
  font-size: 1.5rem;
}

.sidebar-keep-body {
  padding: 32px 0px 20px 40px;
}

.sidebar-keep-body label {
  line-height: 24px;
  font-size: 1rem;
  font-weight: bold;
}

.sidebar-keep-dot-container {
  display: flex;
  gap: 4px;
  margin-left: 7px;
  margin-bottom: 8px;
  flex-direction: column;
}

.sidebar-keep-dot-container > div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.sidebar-keep-body-link {
  display: inline-block;
  font-weight: 500;
  border-bottom: solid 1px #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

.sidebar-keep-button {
  padding: 16px 12px;
  width: 100%;
  border: none;
  background-color: #D3D3D3;
  color: #FFFFFF;
  box-shadow: 0px 4px 1px rgba(114, 205, 129, 0.5);
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.25rem;
}

.sidebar-keep-button > span {
  margin-left: 8px;
}
/* end sidebar */

/* start agent-list */

.agent-list {
  margin: 0 auto;
  margin-top: -90px;
  padding: 0 20px 120px;
  max-width: 1040px;
  background-color: transparent;
}

.agent-list-container  {
  max-width: 788px;
}

.agent-list-header {
  margin-bottom: 64px;
  padding: 40px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.agent-list-header > div {
  display: flex;
  padding-bottom: 8px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: solid 1px #2E79BA;
}

.agent-list-header h2 {
  font-size: 1.5rem;
}

.agent-list-header-right {
  display: flex;
  gap: 32px;
  align-items: center;
}

.agent-list-header-right > ul {
  display: flex;
  gap: 16px;
}

.agent-list-header-right > ul > li {
  display: flex;
  gap: 8px;
  padding: 8px 28px 4px 16px;
  color: #FFFFFF;
  background-color: #00D1FF;
  border-radius: 12px;
  align-items: center;
}

.tag-removed {
  position: relative;
  cursor: pointer;
}

.tag-removed::before {
  position: absolute;
  top: -3px;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  transform: rotate(45deg);
}
.tag-removed::after {
  position: absolute;
  top: -3px;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  transform: rotate(-45deg);
}

.agent-list-count {
  font-size: 1.25rem;
}

.agent-list-count > span {
  padding-left: 12px;
  font-size: 1.5rem;
}

.agent-list-items {
  margin-bottom: 64px;
}

.agent-list-item {
  margin-bottom: 64px;
  padding: 40px;
  font-weight: bold;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.agent-list-item-header {
  display: flex;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #2E79BA;
}

.agent-list-item-header > ul {
  display: flex;
  gap: 16px;
}

.agent-list-item-header > ul > li {
  padding: 8px 16px 4px;
  background-color: #00D1FF;
  color: #FFFFFF;
  border-radius: 12px;
}

.agent-list-item-area {
  padding: 8px 16px 4px;
  border: dashed 1px #2E79BA;
  border-radius: 12px;
}

.agent-list-item-body {
  display: flex;
  margin-top: 32px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.agent-list-item-body h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #2E79BA;
}

.agent-list-item-body h3::after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2E79BA;
}

.agent-list-item-body h3 > a >i {
  position: absolute;
  top: -4px;
  right: -44px;
  color: #2E79BA;
}

.agent-list-item-features {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.agent-list-item-features > li {
  position: relative;
  line-height: 1.2;
}

.agent-list-item-features > li::before {
  position: absolute;
  left: -20px;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #2E79BA;
}

.agent-list-item-features > li::after {
  position: absolute;
  bottom: -4px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  box-shadow: 0px 2px 2px #2E79BA;
}

.agent-list-item-img {
  padding-top: 20px;
  padding-left: 20px;
  max-width: 200px;
  max-height: 160px;
}

.agent-list-item-img > img {
  width: 100%;
  height: 100%;
}

.agent-list-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agent-list-item-footer p > i {
  margin-right: 8px;
  font-size: 20px;
  color: #2E79BA;
}

.agent-item-list-button {
  padding: 8px 64px 8px;
  font-size: 1.25rem;
  color: #FFFFFF;
  border: none;
  border-radius: 24px;
  font-weight: bold;
}

.not-exits-agent {
  padding-left: 40px;
  height: 500px;
}

.keep-button {
  background-color: #2E79BA;
}

.lift-button {
  background-color: #FF3D00;
}


/* レスポンシブ 1040px以下 */
@media screen and (max-width: 1040px) {
/* start hero */
  .hero {
    max-width: 788px;
  }

  .hero-img-container {
    margin-left: 0;
    margin-bottom: 32px;
  }

  .hero-img-container {
    height: 292px;
  }

  .hero-text-container > h2 {
    font-size: 1.75rem;
    margin-bottom: 24px;
  }

  .hero-text-container > ul {
    gap: 8px;
    font-size: 1rem;
  }

  .hero-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #72CD81;
    border-radius: 2px;
    font-size: 24px;
  }
/* end hero */

  .entry-completed-hero{
    height: 650px;
  }

  .entry-completed-hero img {
    width: 520px;
    height: 400px;
  }
}

/* レスポンシブ 768px以下 */
/* start hero */
@media screen and (max-width: 768px) {
  .hero {
  padding: 40px 12px 0 12px;
    flex-direction: column;
  }

  .hero-img-container {
    margin-left: 0;
    height: 220px;
  }

  .hero-text-container > h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 16px;
    text-align: center;
  }

  .hero-text-container > ul {
    font-size: 1rem;
  }
/* end hero */

/* start sidebar */
  .sidebar {
    margin-left: 12px;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    border-radius: 12px 12px 0px 0px;
  }

  .sidebar-search-header {
    width: calc(100% - 24px);
    padding: 20px 20px 20px;
    border-radius: 12px 12px 0 0;
  }

  .sidebar-search-header h2 {
    font-size: 1.25rem;
  }

  .sidebar-search-clear {
    margin-left: 50px;
  }

  .sidebar-body {
    width: calc(100% - 24px);
    padding-bottom: 20px;
    border-radius: 0 0 12px 12px;
  }

  .sidebar-body select {
    display: inline-block;
      margin-left: 50px;
  }

  .sidebar-keep-body > p {
    margin-bottom: 16px;
  }

  .sidebar-keep-list {
    display: none;
  }

/* end sidebar */

/* start agent-list */

  .agent-list {
    padding: 40px 12px 64px;
    margin-top: 0px;
  }

  .agent-list-header {
    margin-bottom: 32px;
    padding: 20px 12px;
  }

  .agent-list-header > div {
    position: relative;
    padding-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    border: none;
  }

  .agent-list-header > div::before {
    position: absolute;
    top: 48px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2E79BA;
  }

  .agent-list-header h2 {
    margin-top: 12px;
    padding-bottom: 36px;
    font-size: 1.25rem;
  }

  .agent-list-header-right {
    gap: 8px;
    width: 100%;
    justify-content: space-between;
  }

  .agent-list-header-right > ul {
    gap: 8px;
  }

  .agent-list-header-right > ul > li {
    display: flex;
    gap: 4px;
    padding: 8px 20px 4px 8px;
    color: #FFFFFF;
    background-color: #00D1FF;
    border-radius: 12px;
    align-items: center;
    font-size: 0.875rem;
  }

  .tag-removed::before {
    top: -3px;
    width: 16px;
  }
  .tag-removed::after {
    top: -3px;
    width: 16px;
  }

  .agent-list-items {
    margin-bottom: 40px;
  }

  .agent-list-item {
    margin-bottom: 32px;
    padding: 20px 12px;
  }

  .agent-list-item-header {
    gap: 8px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .agent-list-item-header > ul {
    gap: 8px;
  }

  .agent-list-item-header > ul > li {
    padding: 8px 8px 4px;
    font-size: 0.875rem;
  }

  .agent-list-item-body {
    margin-bottom: 28px;
  }

  .agent-list-item-body h3 {
    margin-bottom: 32px;
    font-size: 1.25rem;
  }

  .agent-list-item-body h3 > a >i {
    top: -2px;
    right: -28px;
  }

  .agent-list-item-features > li {
    padding-left: 24px;
    font-weight: 500;
  }

  .agent-list-item-features > li::before {
    left: 0;
  }

  .agent-list-item-features > li::after {
    width: calc(100% - 24px);
  }

  .agent-list-item-img {
    display: none;
  }

  .agent-list-item-footer {
    gap: 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  .agent-list-item-footer p {
    font-weight: 500;
  }

  .agent-item-list-button {
    padding: 8px 32px 8px;
    align-self: flex-end;
  }
/* end agent-list */

  .entry-completed-hero img{
    width: 360px;
  }

  .entry-common-form {
    margin-left: 24px;
    padding-left: 8px;
    height: 28px;
    width: 14em;
    font-size: 14px;
    transition: all .6s ease;
    border-bottom:2px solid #cccccc;
    border-right: none;
    border-left:none;
    border-top:none;
    border-radius:0px;
  }

  .entry-common-form:focus {
    width:16em;
  }
}
